.CategoryModal {
  &__form {
    min-width: 80vw;

    .MDEditor {
      min-height: 600px;
    }

    &-field {
      display: flex;
      flex-direction: column;
      gap: 4px;
      margin-bottom: 18px;
      flex: 1;
      &-row {
        gap: 6px;
        display: flex;
        justify-content: space-between;
      }
    }

    &-imageName {
      flex: 1;
      display: flex;
      align-items: center;
    }

    &-action {
      float: right;
    }

    &-error {
      fieldset {
        border-color: red;
      }

      &-text {
        color: red;
      }
    }
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .CategoryModal {
    &__form {
      .MDEditor {
        min-height: 200px;
      }
    }
  }
}
