.CategoryPage {
  &__actions {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
  }

  &__table {
    max-width: 80vw;
  }
}

@media (min-width: 600px) and (max-width: 1023px) {
  .CategoryPage {
    &__table {
      max-width: none;
    }
  }
}
